<strong>Before Colonial Rule:</strong>
<ul>
	<li>Major source of Employment was Agriculture.</li>
	<li>Also we had a very skilled Handicrafts industry</li>
	<li>Major items included <strong><u>Cotton and silk textiles</u></strong>(Muslin was a popular cotton textile known as <strong><u>Malmal-shahi</u></strong>).</li>
</ul>
&nbsp;

<strong>Colonial rule and Economic conditions:</strong>
<ul>
	<li>Indian Handicraft industry was ruined by cheap manufactured goods from Britain.</li>
	<li>Their policies made India in to <strong><u>Large supplier of Raw Material and Consumer of Finished Products form Britain.</u></strong></li>
	<li>There is no reliable data <strong>on Per Capita Income and National Income</strong>, However VKNV Rao's data are considered a benchmark</li>
</ul>
&nbsp;

<strong>Agriculture Sector:</strong>
<ul>
	<li>Agriculture productivity was low, although there was minute growth due to increase in land area under cultivation.</li>
	<li>Main causes being <strong>Land settlement, </strong>particularly under <strong>Zamindari System.</strong></li>
	<li>Slight increase in Cash crops due to commercialization of agriculture.</li>
	<li>Bad situation due to lack of technology and incentives into agricultural spending.</li>
</ul>
<strong> </strong>

<strong>Industrial Sector:</strong>
<ul>
	<li>As we know British don't like Indian industry .They <strong>used India to promote their industrial revolution</strong>(quite logical!!).</li>
	<li>Decline of Indian Handicraft not only created unemployment but also a Demand for Cheaply manufactured British goods.</li>
	<li></li>
</ul>
<table class="table table-bordered table-responsive">
<tbody>
<tr>
<td width="193"><strong>Second half of 19th century:</strong></td>
<td width="287"><strong>Cotton mills in west(maharashtra. And gujju)</strong></td>
<td width="251"><strong>Jute mills in East(britishers of bengal)</strong></td>
</tr>
</tbody>
</table>
<ul>
	<li>TISCO was set up in 1907.</li>
	<li>Industrial sector just after Independence contributed close to <strong><u>Nil</u></strong> to the</li>
</ul>
<strong> </strong>

<strong>Foreign Trade:</strong>
<ul>
	<li>Bad Britisher's made bad policy to restrict our domestic produce and control our exports through taxes and tariffs.</li>
	<li>We generated large export surpluses particularly the raw materials, furthermore these exports did not bring us any fancy gold and silver. But was used to pay taxes to offices in England, Expenses on war fought by the Britain, and also invisible amount of imports.</li>
	<li>This lead to Drain of wealth.</li>
</ul>
&nbsp;

<strong>Demographic Condition:</strong>
<ul>
	<li><strong>Mortality rate was high </strong></li>
	<li><strong>Life expectancy was low </strong></li>
	<li><strong>Data collected by 1881 census.</strong></li>
</ul>
<strong> </strong>

<strong>Occupational Structure:</strong>
<ul>
	<li>Largest percentage of people were busy growing crops</li>
	<li>Agriculture<strong>&gt;&gt;&gt;</strong>Service sector<strong>&gt;</strong>manufacturing Sector</li>
</ul>
&nbsp;

<strong>Infrastructure</strong>
<ul>
	<li>Railways ports roads canals telegraphs did develop but Britishers used it for their own interest hence it did not help boost trade or economy.</li>
	<li></li>
</ul>

<table class="table table-condensed table-bordered table-responsive">
<tbody>
<tr>
<td width="106"><strong>Infrastructure</strong></td>
<td width="407"><strong>Motive</strong></td>
</tr>
<tr>
<td width="106">Roads</td>
<td width="407">For mobilizing British troops</td>
</tr>
<tr>
<td width="106">Ports</td>
<td width="407">For transporting goods to and form England</td>
</tr>
<tr>
<td width="106">Telegraph</td>
<td width="407">For strategic control and communication during war and Revolts</td>
</tr>
<tr>
<td width="106">Railways</td>
<td width="407">For carrying out transportation of goods to nearest port</td>
</tr>
</tbody>
</table>


<ul>
	<li>However Railways helped long distance travel breaking cultural barriers</li>
	<li>Railways ultimately led to commercialization of Agriculture which <strong>affected self-sufficiency of Village Economy</strong>.</li>
</ul>
&nbsp;

&nbsp;