<strong>Types of Economic Systems:</strong>

The idea evolves with three basic questions being answered
<ol>
	<li>What goods and services should be produces?</li>
	<li>How should we produce them?(Use more labor or more capital)</li>
	<li>How should these goods and services be distributed?</li>
</ol>
<ol>
	<li><b>Capitalism:</b>
<ul>
	<li>We depend solely on <b>Market forces of supply and demand</b></li>
	<li>
<div>
<table>
<tbody>
<tr>
<td>Questions</td>
<td>Answer</td>
</tr>
<tr>
<td>1</td>
<td>Produce only those goods and services which are in demand either in domestic or in foreign markets</td>
</tr>
<tr>
<td>2</td>
<td>If labor is cheaper than capital Use labor-intensive methods of production otherwise use capital intensive methods</td>
</tr>
<tr>
<td>3</td>
<td>Goods are distributed not on the basis of what people needbut on the <b>basis of their </b><b>purchasing power</b>                                     example:                                                                                                                                   low cost housing is much needed by poor but That will not count as demand in market sense because poor people don't have enough money to back that demand.</td>
</tr>
</tbody>
</table>
</div></li>
</ul>
</li>
</ol>
<ol>
	<li><b>Socialist Economy:</b>
<ul>
	<li>The<b> government decides</b> what to produce <b>based on the </b><b> need</b> and not on market forces</li>
	<li>
<div>
<table>
<tbody>
<tr>
<td>Questions</td>
<td>Answer</td>
</tr>
<tr>
<td>1</td>
<td>The government takes decision based on what is the need of citizens</td>
</tr>
<tr>
<td>2</td>
<td>The government decides how to produce it</td>
</tr>
<tr>
<td>3</td>
<td>distribution under socialism is supposed to be basedon what people need and not on what they can afford to purchase

For Example:

socialist nation provides free health care

to all its citizens. Strictly, a socialist society has no private property since

everything is owned by the state

&nbsp;</td>
</tr>
</tbody>
</table>
</div></li>
</ul>
</li>
</ol>
<ol>
	<li><b>Mixed Economies:</b>
<ul>
	<li>market will provide whatever goods and services it can produce well, and the <b>government will provide essential goods and services which the market </b>fails to do.</li>
</ul>
</li>
</ol>
<strong>Plan documents and five year plan</strong>:
<ul>
	<li>5-year plan serves as a basis for perspective plan(20 years)</li>
	<li>Our five year plans do not spell out how much of each and every good and service is to be produced.</li>
</ul>
<ul>
	<li>
<div>
<table>
<tbody>
<tr>
<td>Goals are:</td>
<td>Growth, Modernization, self-reliance and equity</td>
</tr>
</tbody>
</table>
</div></li>
	<li>These 4 terms are prioritized rather than giving them equal importance.</li>
</ul>
GDP:
<ul>
	<li>It is the <b>market value</b> of all <b>the goods and services</b> produced in a country in a given year.</li>
	<li>It is derived from different sectors of economy(Agri. , Industrial and       service).</li>
	<li>The contribution made by each sector makes the<b> Structural Composition </b>of economy</li>
</ul>
<div class="row">
<div class="col-md-6">
<table class="table table-bordered table-responsive">
<tbody>
<tr>
<td>Growth</td>
<td><b>↑ </b> in country's capacity to produce goods and services .steady increase in <b>GDP</b> is an indicator of growth</td>
</tr>
<tr>
<td>Modernization</td>
<td><b>Adoption</b> of <b>new Technology</b> and <b>change in social outlook </b>

<b>Change in social outlook</b>==&gt;1 equal rights for both

2 better Education

3 improved standard of living</td>
</tr>
<tr>
<td>Self-reliance</td>
<td>Promoting economic growth and modernization by using domestic resources
<ul>
	<li>Earlier we used to restrict import /to reduce dependence on foreign goods</li>
</ul>
&nbsp;</td>
</tr>
<tr>
<td>Equity:</td>
<td>Ensuring uniform distribution of wealth and prosperity among all sections of society.</td>
</tr>
</tbody>
</table>
</div>
</div>
Reforms (1950-1990) 5-year plans

Agriculture
<ol>
	<li><b>Land Reforms:</b>
<ul>
	<li>Main motive was to enforce equity in agriculture <b>, </b><b>land to tiller.</b></li>
	<li>tillers won't benefit form the increased production as the land was not their own==&gt;<b>Poor productivity</b></li>
	<li>Land reforms changed the ownership of land holdings, abolished Zamindars</li>
</ul>
</li>
</ol>
<ol>
	<li><b>Land ceiling:</b>
<ul>
	<li>Provide an upper bound on size of land owned.</li>
	<li>Because older zamindars continued to hold large areas of land making use <b>of Loopholes</b></li>
	<li>Big landlords challenged it in courts.</li>
	<li>Successful only in Bengal and   kerala elsewhere still a problem with it.</li>
</ul>
</li>
</ol>
<ol>
	<li><b>Green Revolution:</b>
<ul>
	<li>75% population agri. Dependent ==&gt;agri. Was monsoon dependent==&gt;<b>Problem</b></li>
	<li>Also no proper national irrigation system.</li>
	<li>Solution being ↑↑ production by using <b>HYV seeds. </b></li>
	<li><b>HYV </b>+ <b>proper irrigation</b> + <b>fertilizer</b> + <b>pesticide</b> =&gt; <b>Phase1 implemented in AP, Punjab, T.Nadu.</b></li>
	<li>Result was domestic demand met and also <b>Marketed surplus=&gt;Reduced food prices.</b></li>
	<li>To also include poor farmers(coz the HYV were prone to pest attack) in the benefit, government provides loans and subsidized fertilizer.
<ul>
	<li>
<div class="row">
<div class="col-md-6">
<table class="table table-bordered table-responsive">
<tbody>
<tr>
<td><b>Pro's of subsidy</b></td>
<td><b>Cons</b></td>
</tr>
<tr>
<td>Encourage farmer to test new technology</td>
<td>Does not benefit the target group</td>
</tr>
<tr>
<td>Farmers are poor in India and hence it provide support</td>
<td>Burden on government finances</td>
</tr>
<tr>
<td>Bridges the gap b/w rich and poor hence should not be removed</td>
<td>Leads to wastage of subsidized resources</td>
</tr>
</tbody>
</table>
</div>
</div>
</li>
</ul>
</li>
</ul>
<ul>
	<li>One drawback was that till 1990's 65% of population still agriculture dependent . Although it's contribution had significantly reduced<b>.[The Industrial and svc. Sector </b><b>could not</b><b> absorb the people working in agriculture sector.]</b></li>
</ul>
</li>
</ol>
<ol>
	<li><b>Industry and Trade:</b>
<ul>
	<li>Industry provide more stable jobs and overall prosperity compared to agriculture.</li>
	<li>Lack of capital and confidence among the people , so industry was planned on soviet lines</li>
	<li>Opportunity was also for private sector but through license under state control.</li>
	<li>It was easier to get license if industry was in backward area==&gt;to promote industrialization of back areas, also concessions were given(we can easily spot a drawback here)</li>
	<li>Production quantity was again limited by government license.</li>
</ul>
</li>
</ol>
<ol>
<ol>
	<li><b>Small Scale Industries:</b></li>
</ol>
</ol>
<ul>
	<li><b><b>Karve committee</b> proposed small scale industry for promoting rural-development.</b></li>
</ul>
<ol>
	<li>Maximum investment allowed was up to 5 lacs now(1 crore)</li>
	<li>Some goods were for production only through them, to shield them against competition.</li>
	<li>They are more labor intensive so <b>generate more Employment.</b></li>
	<li>They were also given concessions such as lower excise duty and bank loans at lower interest Rates</li>
</ol>
<ol>
	<li><b>Trade policy : Import substitution</b>
<ul>
	<li><b>Import substitution</b> is an inward looking policy, protects domestic firms from foreign competition</li>
	<li>Instead of importing cars, domestic industries are encouraged to manufacture cars in India.</li>
	<li>Used <b>tariffs</b>(import taxes) and <b>Quotas</b>(limit on imports) to discourage imports.</li>
	<li>View was also to <b>save expensive foreign exchange </b> wasted on import of luxury items, since exports were not booming back then</li>
	<li><b>Effect of policy on Industry:</b>
<ul>
	<li>The six per cent annual growth rate of the industrial sector during the period is commendable.</li>
	<li>Indian Industry became Highly diversified by 1990's</li>
	<li>Promotion of small scale industries gave opportunity to those with less capital</li>
	<li>Protection form foreign competition developed Indigenous industry</li>
</ul>
</li>
</ul>
<ul>
	<li><b>Bad Effects of policy</b>
<ul>
	<li>PSU's without competition in some sectors were until late 1990's, which could be opened to private sector.</li>
	<li>Many public sector firms incurred huge losses but continued to function because it is difficult to close a   government undertaking even if it is a drain on the nation’s limited resources<b>.(</b><b>people loose jobs and loss of public welfare</b><b>)</b></li>
	<li>The license provision was misused by big Industrialists, to prevent license approval of their competitors.</li>
	<li>The excessive regulation came to be known as <b>Permit license Raj </b>hindered the growth of many firms</li>
	<li>Import bans provided the domestic producers with <b>Captive Market </b> so they did not improve product quality and consumer suffered. So we change policy in 1991.</li>
</ul>
</li>
</ul>
</li>
</ol>
&nbsp;