<html>
	<body>
		Welcome to notes for Civil Service, Here you will find short and compressed notes for UPSC, Civil Service Examination.

This is a project in initial phase. I have decided to Post my short notes on NCERT Textbooks.Later I will post other resources. Please do not drop any specific resource request since I blog in free time so i won't be able to post resources as per your request.I hope this will help any fellow aspirant.

My plan on posting are
<ol>
	<li>NCERT Textbooks</li>
	<li>The Hindu, Daily Summary</li>
	<li>Summary on few Standard Resources.</li>
	<li>Any Relevant Essay Article</li>
</ol>
	</body>

</html>